<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>SOES</title>
</head>
<body>

	<div align="center">
		<h1>Stock Order Execution System</h1>
	</div>
	<hr />
	<!--<div align="center">
		<h2>Stock Order Execution System - Place Order</h2>
	</div>

	<hr />
	<div align="center">
		<h2>Stock Order Execution System - Order List</h2>
	</div> -->
	<div align="center">
		<table border="1" style="width: 80%">
			<tr>
				<th>STOCK_ID</th>
				<th>SIDE</th>
				<th>COMPANY</th>
				<th>QUANTITY</th>
				<th>REMAINING_QUANTITY</th>
				<th>STATUS</th>
			</tr>
			<tr th:each="order : ${orders}">
				<td th:text="${order.stockId}"></td>
				<td th:text="${order.side}"></td>
				<td th:text="${order.company}"></td>
				<td th:text="${order.quantity}"></td>
				<td th:text="${order.remainingQuantity}"></td>
				<td th:text="${order.status}"></td>
			</tr>
		</table>
	</div>
</body>
</html>